@mixin middle_screen {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
.menu_section {
  text-align: center;
  position: relative;
  z-index: 1;
  .menu_slide {
    display: inline-block;
    position: relative;
    width: 10vw;
    @include middle_screen {
      width: 20vw;
    }
    @include tablet {
      width: 25vw;
    }
    @include mobile {
      width: 50vw;
    }
    padding: 15px;
    margin: 20px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "Ubuntu", sans-serif;
    background: linear-gradient(225deg, #ff8f00 0, #ffdc00 75%);
    transition: 0.5s ease;
    text-align: center;
    &:hover {
      box-shadow: 15px 21px 52px -8px rgba(24, 12, 164, 0.49);
      transform: translateY(-3px);
    }
    cursor: pointer;
    .menu_slide_item1,
    .menu_slide_item2,
    .menu_slide_item3,
    .menu_slide_item4,
    .item4_child {
      position: absolute;
      bottom: 0;
      left: 0;
      transition: 0.5s ease;
      opacity: 0;
      width: inherit;
      padding: 15px;
      background: linear-gradient(142deg, #d5e5fd 0, #ffffff 89%);
      box-shadow: 15px 21px 52px -8px rgba(24, 12, 164, 0.49);
    }
    .menu_slide_item4 {
      .arr_left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        animation: slide 0.5s ease-in infinite alternate;
        transform-origin: center;
      }
      .item4_child {
        top: 0;
        background: linear-gradient(210deg, #d5e5fd 0, #ffffff 89%);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.6s ease;
      }
      @keyframes slide {
        from {
          right: 20px;
        }
        to {
          right: 30px;
        }
      }
      &:hover > .item4_child {
        transform: translateX(100%);
        opacity: 1;
      }
    }

    &:hover > .menu_slide_item1 {
      transform: translateY(100%);
      opacity: 1;
    }
    &:hover > .menu_slide_item2 {
      transform: translateY(200%);
      opacity: 1;
    }
    &:hover > .menu_slide_item3 {
      transform: translateY(300%);
      opacity: 1;
    }
    &:hover > .menu_slide_item4 {
      transform: translateY(400%);
      opacity: 1;
      border-bottom-left-radius: 10px;
    }
  }
  .blue_theme {
    background: linear-gradient(225deg, #00dcc0 0, #005af0 75%);
    color: white;
  }
  .black {
    color: black;
  }
}
