@mixin middle_screen {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
.question_container {
  width: 40vw;
  @include middle_screen {
    width: 50vw;
  }
  @include tablet {
    width: 65vw;
  }
  @include mobile {
    width: 90vw;
  }
  margin: 10px auto;
  border-radius: 10px;
  background: linear-gradient(225deg, #00dcc0 0, #005af0 75%);
  font-family: "Ubuntu", sans-serif;
  .question_section {
    display: flex;
    justify-content: space-between;
    color: white;
    .question {
      display: flex;
      align-content: center;
      margin: 2px 2px 2px 15px;
      line-height: 1.5rem;
    }
    .toogle {
      margin: 5px 10px 5px;
      cursor: pointer;
      height: fit-content;
      transform: translateY(50%);
    }
  }
  .answer_section {
    background: linear-gradient(225deg, #fdb458 0, #ffdc00 75%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .answer_text {
      margin: 5px;
      padding: 10px;
      color: #180ca4;
      line-height: 1.5rem;
    }
  }
  .hidden {
    height: 0;
    visibility: hidden;
  }
}
