@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}
#contact {
  @include tablet {
    width: 600px;
  }
  @include mobile {
    width: 90vw;
    flex-direction: column-reverse;
    height: initial;
    border: 0.5px solid gray;
  }
  display: flex;
  width: 700px;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  font-family: "Ubuntu", sans-serif;
  color: #180ca4;
  overflow: hidden;
  .contact_sidebar {
    background: linear-gradient(225deg, #ff8f00 0, #ffdc00 75%);
    padding-top: 23px;
    @include mobile {
      padding-top: 0;
    }
    .sidebar_headline {
      margin: 20px;
    }
    .sidebar_description {
      margin: 20px;
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
  .contact_main {
    background: linear-gradient(282deg, #d5e5fd 0, #ffffff 89%);
    .contact_form {
      .form_formMessage {
        label {
          margin-bottom: 10px;
        }
        display: flex;
        flex-direction: column;
        margin: 30px;
        @include mobile {
          margin: 20px;
        }
        h3 {
          font-family: "Poppins", sans-serif;
        }
        #message {
          width: 100%;
          margin: 0 auto;
          border: none;
          &::placeholder {
            padding: 5px;
          }
          &:focus {
            outline: 1px solid gray;
          }
        }
      }
      .form_formUser {
        display: flex;
        margin: 30px;
        label {
          margin-bottom: 10px;
        }
        @include mobile {
          flex-direction: column;
          margin: 20px;
        }
        .formUser_name {
          display: flex;
          flex-direction: column;
          margin-right: 60px;
          @include mobile {
            margin-right: 0;
            margin-bottom: 20px;
          }
          #name {
            border: none;
            &:focus {
              outline: 1px solid gray;
            }
          }
        }
        .formUser_mail {
          display: flex;
          flex-direction: column;
          #mail {
            border: none;
            &:focus {
              outline: 1px solid gray;
            }
          }
        }
      }
      button {
        display: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 20px 0;
        padding: 0.75rem 1.25rem;
        border-radius: 10rem;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #ff8f00;
          border-radius: 10rem;
          z-index: -2;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: lighten(#ff8f00, 15%);
          transition: all 0.3s;
          border-radius: 10rem;
          z-index: -1;
        }
        &:hover {
          color: #fff;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}
