@mixin middle_screen_large {
  @media (max-width: 1450px) {
    @content;
  }
}
@mixin middle_screen {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

#contact {
  @include mobile {
    width: 95vw;
  }
  @include tablet {
    width: 80vw;
  }
  display: flex;
  width: 40vw;
  height: 500px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  font-family: "Ubuntu", sans-serif;
  .contact_sidebar {
    flex: 2;
    background-color: yellow;
    .sidebar_description {
      margin: 20px;
    }
  }
  .contact_main {
    flex: 4;

    .contact_form {
      .form_formMessage {
        display: flex;
        flex-direction: column;
        margin: 20px;
        h3 {
          font-family: "Poppins", sans-serif;
        }
        #message {
          width: 100%;
          margin: 0 auto;
        }
      }
      .form_formUser {
        display: flex;
        margin: 20px;
        #name,
        #mail {
          margin: 0 10px;
          width: 20%;
        }
      }
      button {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        width: 100px;
        margin: 20px;
      }
    }
  }
}
