@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
.navigation {
  @include tablet {
    position: relative;
  }
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  z-index: 6;
  background-color: #427AA1;
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  .navigation_logo {
    .logo {
      font-family: "Permanent Marker", cursive;
      margin: 15px;
      font-size: 1.3rem;
      min-width: 150px;
      color: white;
      user-select: none;
      cursor: pointer;
    }
  }
  .navigation_buttons {
    @include tablet {
      background-color: #05668d;
      display: block;
      position: absolute;
      z-index: 5;
      width: 100vw;
      top: 60px;
    }
    ul {
      @include tablet {
        position: relative;
        z-index: 5;
        flex-direction: column;
      }
      display: flex;
      align-items: center;
      list-style: none;
      height: 100%;
      margin: 0;
      padding-inline-start: 0;
      li {
        @include tablet {
          height: 70px;
          display: flex;
          align-items: center;
          text-align: center;
          width: 100vw;
        }

        width: 10vw;
        text-align: center;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          width: 100vw;
        }
      }
    }
  }
  .navigation_burger {
      display: none;
      @include tablet {
        display: flex;
        fill: white;
        align-items: center;
        width: 70px;
        svg {
            cursor: pointer;
        }
      }
      @include mobile {
        width: 60px;
      }
  }
}
