@mixin middle_screen {
  @media (max-width: 1300px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
#slider {
  user-select: none;
  margin: 20px 0;
  position: relative;
  .slider_images {
    display: flex;
    .slider_picture {
      width: calc(100vw / 3);
      @include middle_screen {
        width: calc(100vw / 2);
      }
      @include mobile {
        width: calc(100vw / 1);
      }
    }
  }
  .slider_left,
  .slider_right {
    position: absolute;
    top: 50%;
    width: 40px;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      width: 50px;
    }
  }
  .slider_left {
    transform: translateY(-50%) rotateY(180deg);
    left: 10px;
  }
  .slider_right {
    right: 10px;
    transform: translateY(-50%);
  }
}
