@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@mixin middle_screen {
  @media (max-width: 1300px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
.slider {
  user-select: none;
  margin: 20px 0;
  position: relative;
  .slider_images {
    display: flex;
    position: relative;
    .slider_picture {
      width: calc(100vw / 3);
      @include middle_screen {
        width: calc(100vw / 2);
      }
      @include mobile {
        width: calc(100vw / 1);
      }
    }
    .btn_container {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      @include mobile {
        top: 40%;
      }

      .bubble {
        position: absolute;
        width: 243px;
        height: 51px;
        padding: 4px;
        background: #ffb454;
        border-radius: 11px;
        top: -81px;
        left: 50%;
        transform: translateX(-50%);
        @include mobile {
          width: 169px;
          height: 37px;
          padding: 4px;
          background: #ffb454;
          border-radius: 11px;
          top: -64px;
        }
        .bubble_text {
          font-family: "Ubuntu", sans-serif;
          font-size: 0.9rem;
          text-align: center;
          line-height: 26px;
          color: #180ca4;
          @include mobile {
            font-size: 0.7rem;
            line-height: 12px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          border-style: solid;
          border-width: 21px 14px 0;
          border-color: #ffb454 transparent;
          display: block;
          width: 0;
          z-index: 1;
          bottom: -21px;
          left: 50%;
          transform: translateX(-50%);
          @include mobile {
            bottom: -18px;
          }
        }
      }
    }
  }
  .slider_left,
  .slider_right {
    position: absolute;
    top: 50%;
    width: 40px;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      width: 50px;
    }
  }
  .slider_left {
    transform: translateY(-50%) rotateY(180deg);
    left: 10px;
  }
  .slider_right {
    right: 10px;
    transform: translateY(-50%);
  }
  .dots_container {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    .dot {
      width: 20px;
      height: 20px;
      background-color: black;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #f8b257;
      transition: 0.2s ease;
      cursor: pointer;
    }
    .activeDot {
      width: 25px;
      height: 25px;
      background-color: #fc9b1e;
    }
  }
}
